@font-face {
  font-family: "iconfont"; /* Project id 3759594 */
  src: url('iconfont.woff2?t=1667965158729') format('woff2'),
       url('iconfont.woff?t=1667965158729') format('woff'),
       url('iconfont.ttf?t=1667965158729') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e600";
}

.icon-iconfonticon:before {
  content: "\e616";
}

.icon-iconfonticonfontadd:before {
  content: "\e61c";
}

.icon-custom-finsh:before {
  content: "\e604";
}

.icon-iconfonticonfontcart:before {
  content: "\e61e";
}

.icon-iconfontyouhuiquan:before {
  content: "\e627";
}

.icon-iconfontriyongbaihuo:before {
  content: "\e62c";
}

.icon-iconfontjixieqimo:before {
  content: "\e639";
}

.icon-iconfontshumajiadian:before {
  content: "\e63a";
}

.icon-iconfontyiqiyibiao:before {
  content: "\e646";
}

.icon-iconfontfuzhuangneiyi:before {
  content: "\e64b";
}

.icon-iconfontfuwushichang:before {
  content: "\e64d";
}

.icon-gengduo1:before {
  content: "\e601";
}

.icon-gengduo2:before {
  content: "\e8a6";
}

